.clients {
  &__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;
      padding-bottom: 50px;
    }
  }

  &__list {
    gap: 30px;

    &-item {
      @media screen and (max-width: 480px) {
        flex-basis: calc((100% - 30px) / 2);
      }
    }
  }

  &__logo {
    width: 100%;
    height: 92px;

    border: solid 1px;
    border-color: $icons-color-one;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $icons-color-one;

    /* transition */

    transition-property: border-color, color;
    transition-duration: $duration;
    transition-timing-function: $timing-function;

    @media screen and (min-width: 1200px) {
      width: 170px;
    }

    &:hover,
    &:focus {
      color: $functional-color;
      border-color: $functional-color;
    }
  }
}
