.studio-main {
  background-color: $backgroud-color_main;
  color: $white-color;
  //   centering
  text-align: center;
  margin: 0 auto;
  width: 100%;

  &--background {
    width: 100%;
    background-image: $gradient-main;
    background-image: url(../images/background-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px) {
      background-image: $gradient-main;
      background-image: url(../images/background-main-768.jpg);
    }

    @media screen and (min-width: 1200px) {
      background-image: $gradient-main;
      background-image: url(../images/background-main-1200.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      width: 100%;
      background-image: $gradient-main;
      background-image: url(../images/background-main@2x.jpg);

      @media screen and (min-width: 768px) {
        background-image: $gradient-main;
        background-image: url(../images/background-main-768@2x.jpg);
      }

      @media screen and (min-width: 1200px) {
        background-image: $gradient-main;
        background-image: url(../images/background-main-1200@2x.jpg);
      }
    }
  }

  &__header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }

  &__container {
    width: 100vw;
    padding: 118px 57px;

    @media screen and (min-width: 768px) {
      text-align: center;
      padding: 118px 202px;
      padding-right: 201px;
    }

    @media screen and (min-width: 1200px) {
      text-align: center;
      padding: 200px 0;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    color: $white-color;
    background: $functional-color;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px;

    &:hover,
    &:focus {
      color: $functional-color;
      background: $white-color;
    }
  }
}
