.studio-main {
  background-color: $backgroud-color_main;
  color: $white-color;
  //   centering
  text-align: center;
  margin: 0 auto;
  width: 100%;

  &--background {
    width: 100%;
    background: $gradient-main, url(../images/background-main.jpg), no-repeat,
      center, 1600px;
  }

  &__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    width: 696px;
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
  }

  &__button {
    width: 200px;
    height: 50px;
    color: $white-color;
    background: $functional-color;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px;

    &:hover,
    &:focus {
      color: $functional-color;
      background: $white-color;
    }
  }
}
