.studio-main {
  background-color: $backgroud-color_main;
  color: $white-color;
  //   centering
  text-align: center;
  margin: 0 auto;
  width: 100%;

  &--background {
    width: 100%;
    background: $gradient-main, url(../images/background-main480.jpg), no-repeat,
      center, 480px;

    @media screen and (min-width: 1200px) {
      background: $gradient-main, url(../images/background-main1200.jpg),
        no-repeat, center, 1600px;
    }
  }

  &__header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
    }
  }

  &__container {
    width: 100vw;
    padding: 118px 57px;

    @media screen and (min-width: 1200px) {
      text-align: center;
      padding: 200px 0;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    color: $white-color;
    background: $functional-color;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px;

    &:hover,
    &:focus {
      color: $functional-color;
      background: $white-color;
    }
  }
}
